<%= form_with url: comments_path do |f|%>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= image_tag current_user.get_profile_picture %>
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= f.hidden_field "user_id",value: current_user.id %>
          <%= f.hidden_field "post_id",value: post.id %>
          <%= f.textarea "body",class: "textarea", placeholder: "Add a comment..." ,rows: 1 %>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <%= f.submit "Post comment", class:"button" %>
        </p>
      </div>
    </div>
  </article>
<% end %>