<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= post.user.email %></strong>
        <br />
        <%= post.body %>
        <br />
        <small><a>Like (2)</a> · <a>Reply</a> · <% if post.user == current_user %><a>Delete</a> · <% end %><%= post.created_at %></small>
      </p>
    </div>
    <%= render "comment" %>
  </div>
</article>
<%= render "new_comment" %>