<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= image_tag post.user.get_profile_picture %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= link_to post.user.email, post.user %></strong>
        <br />
        <%= post.body %>
        <br />
        <small><a>Like (<%= post.likes.count %>)</a> · <a>Reply</a> · <% if post.user == current_user %><a>Delete</a> · <% end %><%= post.created_at %></small>
      </p>
    </div>
    <% post.comments.each do |comment|%>
      <%= render "comment", comment: comment %>
    <% end %>
  </div>
</article>
<%= render "new_comment" %>